<div appWheelTracker (mouseWheelDown)="previous()" (mouseWheelUp)="next()" *ngIf="!ui.mobile; else mobile">
  <div class="top-left">
    <app-header (next)="next()" [state]="state"></app-header>
  </div>

  <div class="top-right">
    <app-nav-bar [countTrack]="countTrack" (nav)="nav($event)"></app-nav-bar>
  </div>

  <div class="bot-right">
    <app-counter></app-counter>
    <div class="dynamic-component" [style.height]="height[state]">
      <app-about [state]="state"></app-about>
      <app-properties [state]="state"></app-properties>
      <app-resp [state]="state"></app-resp>
      <app-contact [state]="state"></app-contact>
      <app-faq [state]="state"></app-faq>
    </div>
  </div>

  <div class="bot-left">
    <app-bg-preview [countTrack]="countTrack"></app-bg-preview>
  </div>
</div>
<ng-template #mobile>
  <div class="mobile" #top>
    <div class="header">
      <div class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
        <div><img id="logo" src="/assets/images/Antaragni Generic Logo_white.png"></div>
        <div class="title">Antaragni</div>
        <div class="login" (click)="onhit()">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div id="hamburger" (click)="menu()"><i class="fas fa-bars"></i></div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="top-bar"
      [style.visibility]="clicked ? 'visible': 'hidden'" style="height: 100vh" [style.opacity]="clicked ? '1' : '0'">
      <div (click)="menu()" class="closebtn">&times;</div>
      <div *ngFor="let link of links" (click)="scroll(link.id)" class="navbar">{{link.description}}</div>
    </div>
    <div style="height: 70vh" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh" class="main">
      <div id="campus">CAMPUS</div>
      <div id="ambassador">AMBASSADOR</div>
    </div>
    <app-counter></app-counter>
    <app-about [state]="state" id="about"></app-about>
    <app-properties [state]="state" id="why"></app-properties>
    <app-resp [state]="state" id="responsibilities"></app-resp>
    <app-contact [state]="state" id="contacts"></app-contact>
    <app-faq [state]="state" id="faq"></app-faq>
  </div>
</ng-template>

<div class="arrow" [class.hideit]="visible$|async" (click)="scrollup()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.1" width="40px" height="40px" fill="#FF6C00">
    <g id="surface1">
      <path d="M 16 4.4375 L 15.09375 6.625 L 7.09375 25.625 L 6.1875 27.75 L 8.34375 26.9375 L 16 24.0625 L 23.65625
          26.9375 L 25.8125 27.75 L 24.90625 25.625 L 16.90625 6.625 Z M 16 9.53125 L 22.1875 24.25 L 16.34375
          22.0625 L 16 21.9375 L 15.65625 22.0625 L 9.8125 24.25 Z ">
      </path>
    </g>
  </svg>
</div>