<!-- <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Campus Ambassador</h1>
        <h2 class="masthead-subheading mb-0">Portal</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header> -->
<div class="jumbotron d-flex align-items-center justify-content-center flex-column" style="color:rgb(238, 255, 0)">
  <div class="p-2">
    <h1 class="display-4">Campus Ambassador Portal</h1>
  </div>
  <!-- <div class="p-2">
    <p class="lead" style="color:yellow">content or information.</p>
  </div> -->
    <div class="p-2">
      <hr class="my-6" style="background-color:purple; border-width:1mm">
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </p>
    </div>
</div>