.grid {
  background-color: #fcfcfc;
  border: solid 1px #eee;
}

.incentive {
  overflow: hidden;
  transition: all .5s ease;
  width: 100%;
}

.active{
  height: 50vh;
  opacity: 1;
  /* padding: 2vh 2vw; */
}

.inactive{
  height: 0;
  opacity: 0;
  /* padding: 0; */
}

.pad3{
  padding: 2vw;
}

.image2 {
  background: url("https://drive.google.com/uc?export=view&id=1xwtUzu6oNb38PNcPC3hLmWBV7K_Dfllv") no-repeat left;
}

.image1 {
  background: url("https://drive.google.com/uc?export=view&id=1PAQNimPkWcDtfPBUfMYZVh6lVR3a7guL") no-repeat right;
}

.image1, .image2 {
  background-size: 50vw;
  background-attachment: fixed;
}

p, .p {
  font-family: raleway;
  font-size: 0.8rem;
}

.incent {
  width: 45%;
}

.icon {
  font-size: 1.3rem;
  min-width: 40px;
  height: 40px;
  background: #ee3158;
  border-radius: 50%;
  color: white;
}

h1 {
  font-family: Adam-CG-Pro, poppins;
  color: #666;
  width: 100%;
  padding-left: 3vw;
}

h6{
  font-family: raleway;
}

@media (max-width: 768px) {
  .half-width {
    width: 100%;
  }

  .incent {
    width: 70vw;
  }

  .incentive, .grid {
    height: auto;
  }

  .image1, .image2 {
    display: none;
  }
}
