<section id="services" #services>
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Why become a Campus Ambassador?</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item" *ngFor="let prop of data" [class.reveal]="!(scrolltoview|async)">
        <div class="service-icon"><i [class]="prop.icon"></i></div>
        <div class="wrapper">
          <h4 class="service-title">{{prop.title}}</h4>
          <p class="service-description">{{prop.desc.content}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
