<div fxLayout="column" class="grid" #why>
  <div fxLayout="row" fxLayout.xs="column" class="incentive" [style.height]="state == 'why' ? '50vh' : '0'" [style.opacity]="state == 'why' ? '1' : '0'" fxLayout.xs="column">
    <div class="pad3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
      <h1>Why ?</h1>
      <div fxLayout="row wrap" fxLayoutAlign="left start" fxLayoutGap="20px" fxLayout.xs="column">
        <div fxLayout="row" *ngFor="let prop of data?.slice(0,len/2)" fxLayoutAlign="left center" fxLayoutGap="20px" class="incent">
          <div class="icon" fxLayoutAlign="center center"><i [class]="prop.icon"></i></div>
          <div fxLayout="column">
            <h6 [innerHtml]="prop.title"></h6>
            <p [innerHtml]="prop.desc.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="incentive" [style.height]="state == 'incentives' ? '50vh' : '0'" [style.opacity]="state == 'incentives' ? '1' : '0'" fxLayout.xs="column">
    <div class="pad3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
      <h1>Incentives</h1>
      <div fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="20px" fxLayout.xs="column">
        <div fxLayout="row" *ngFor="let prop of data?.slice(len/2,len)" fxLayoutAlign="left center" [class.reveal]="!(scrolltoview|async)"
             fxLayoutGap="20px" class="incent">
          <div class="icon" fxLayoutAlign="center center"><i [class]="prop.icon"></i></div>
          <div fxLayout="column">
            <h6 [innerHtml]="prop.title"></h6>
            <p [innerHtml]="prop.desc.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
