<div fxLayout="column" class="grid" #why>
  <div fxLayout="row" class="incentive full-width">
    <div class="half-width pad3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
      <h1>Why ?</h1>
      <div fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="20px">
        <div fxLayout="row" *ngFor="let prop of data[0]" fxLayoutAlign="left center" fxLayoutGap="20px" class="incent">
          <div class="icon" fxLayoutAlign="center center"><i [class]="prop.icon"></i></div>
          <div fxLayout="column">
            <h6>{{prop.title}}</h6>
            <p>{{prop.desc}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half-width image1"></div>
  </div>
  <div fxLayout="row" class="incentive full-width">
    <div class="half-width image2"></div>
    <div class="half-width pad3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5vh">
      <h1>Incentives</h1>
      <div fxLayout="row wrap" fxLayoutAlign="left center" fxLayoutGap="20px">
        <div fxLayout="row" *ngFor="let prop of data[1]" fxLayoutAlign="left center" fxLayoutGap="20px" class="incent">
          <div class="icon" fxLayoutAlign="center center"><i [class]="prop.icon"></i></div>
          <div fxLayout="column">
            <h6>{{prop.title}}</h6>
            <p>{{prop.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
