<section class="aboutus">
  <div class="container">
    <img class="about-img" align="right" src="/assets/card-back5.jpg"/>	
      <div class="row">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
          <div class="col-md-12">
            <h2>About</h2> 
            <p><b>Antaragni</b> is the annual cultfest of IIT Kanpur, and one of Asia's largest college cultfests, inviting participation from hundreds of colleges across India.</p>
            <p>With artists like KSHMR, Vishal-Shekhar, and Mike Candys having graced the occasion in the past, we look forward to seeing you this year from <b>25th - 28th October!</b></p>
          </div>
        <!-- </div>	 -->
      </div>
  </div>
</section>
    