<section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Why become a Campus Ambassador?</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p><!--subtitle here-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fas fa-user-tie"></i></div>
          <h4 class="service-title">Be a leader</h4>
          <p class="service-description">Represent your college as you help organize one of Asia's largest cultural fests</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="far fa-address-book"></i></div>
          <h4 class="service-title">Networking</h4>
          <p class="service-description">Get opportunities to interact with celebrities from various fields </p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fas fa-cogs"></i></div>
          <h4 class="service-title">Enhance your skills</h4>
          <p class="service-description">Improve your communication and managerial abilities</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fas fa-trophy"></i>
          </div>
          <h4 class="service-title">Certification</h4>
          <p class="service-description">Get a ratified certificate from Antaragni, IIT Kanpur recognizing your efforts</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fas fa-gift"></i></div>
          <h4 class="service-title">Goodies & Merchandise</h4>
          <p class="service-description">Free Antaragni merchandise and prizes for top performers</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fas fa-home"></i></div>
          <h4 class="service-title">Accomodation</h4>
          <p class="service-description">Free accomodation for the top performing campus ambassadors @ Antaragni 2018</p>
        </div>
      </div>
    </div>
  </section>


<!-- <div class="container">
      <div class="row row1">
        <div class="col-md-4">
          <h2>Responsibilities</h2>
          <ul>
		<li>Be a part of the team by publicizing Antaragni in your college</li>
		<li>Conduct Elimination rounds in respective cities to select participants</li>
	  </ul>
        </div>

  <div class="col-md-4">
          <h2>Benefits</h2>
          <ul>
		<li>Benefit 1</li>
		<li>Benefit 2</li>
	  </ul>
        </div>

	<div class="col-md-4">
          <h2>Something else if needed</h2>
          <ul>
		<li>etc</li>
		<li>etc</li>
	  </ul>
        </div>
      </div>
</div> -->
