    <div class="container">
      <!-- Example row of columns -->
      <div class="row row1">
        <div class="col-md-4">
          <h2>Responsibilities</h2>
          <ul>
		<li>Be a part of the team by publicizing Antaragni in your college</li>
		<li>Conduct Elimination rounds in respective cities to select participants</li>
	  </ul>
        </div>

	<div class="col-md-4">
          <h2>Benefits</h2>
          <ul>
		<li>Benefit 1</li>
		<li>Benefit 2</li>
	  </ul>
        </div>

	<div class="col-md-4">
          <h2>Something else if needed</h2>
          <ul>
		<li>etc</li>
		<li>etc</li>
	  </ul>
        </div>
      </div>
    </div>
