 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"> 
<section class="navbar">
	<ul>
 		<li class="logo"><a href="https://antaragni.in/" class="logo">Antaragni Logo</a></li>
 		<li><a href="#">Logout</a></li>
 		<li *ngFor="let link of links" [class.selected]="link === selectedLink" (click)="onSelect(link)">
    	<a routerLink="{{link.id}}">{{link.name}}</a></li>
	</ul>
<div class="menu" (click)="showmenu=!showmenu">menu</div>
<div *ngIf="showmenu">
 <div class="item"><a href="https://antaragni.in/">Antaragni Logo</a></div>
 <div class="item"><a href="#">Logout</a></div>
 <div *ngFor="let link of links" [class.selected]="link === selectedLink" (click)="onSelect(link)">
    <a routerLink="{{link.id}}">{{link.name}}</a>
 </div>
</div>
</section>
