.selected {
  background-color: orange;
}

.navbarlinks {
  min-height: 10vh;
  width: 80vw;
  background-color: black;
}

.side-button {
  width: 20vw;
  background-color: black;
  height: 10vh;
}

button {
  z-index: 5;
  background-color: black;
  color: white;
  border: 0.3px solid white;
  border-radius: 3px;
  margin: 0 10px;
}

.item {
  color: white;
  cursor: pointer;
  font-family: 'Questrial';
  text-align: center;
  text-decoration: none;
  height: 10vh;
  z-index: 9999;
  padding: 0 20px;
}

li a:hover {
  background-color: orange;
}

.logo {
  margin-left: calc(10vh + 20px);
}

@media (max-width: 768px) {
  .navs {
    position: absolute;
    z-index: 9;
    top: 10vh;
    width: 100vw;
    left: 0;
    background-color: black;
  }
}
