.selected{
    background-color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}


li {
    font-family: 'Questrial';
    display: block;
    float:right;
}

li.logo{
    float: left;
    font-family: 'Questrial';
    display: block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


li a:hover {
    background-color: orange;
}

.logo{
    margin-left: calc(10vh + 20px);
}

div{
    display: none;
}



@media screen and (max-width: 768px) {
ul{
    display:none;
}

div a {
    color: white;
    font-size: 20px;
}


div.item:hover{
    background-color: orange;
}


div{
    display: block;
    background-color: #000;
    color: white;
    font-family: 'Questrial';
    text-align: center;
    z-index: 9999;

}
}

.menu{
    height: 10vh;
    width: 100vw;
    text-align: right;
    right: 0;
    top: 0;
    position: absolute;
}