.selected {
  background-color: orange;
}

.navbarlinks {
  min-height: 10vh;
  width: 80vw;
  background-color: black;
}

.side-button{
  width: 20vw;
  background-color: black;
  height: 10vh;
}

.item{
  color: white;
  cursor: pointer;
  font-family: 'Questrial';
  text-align: center;
  text-decoration: none;
  height: 10vh;
  z-index: 9999;
  padding: 0 20px;
}

li a:hover {
  background-color: orange;
}

.logo {
  margin-left: calc(10vh + 20px);
}

@media (max-width: 768px) {
  .navbarlinks{
    position: absolute;
    z-index: 9999;
  }
}
