.container{
    padding: 6%;
    width: 80%!important;
    
}

h1{
    margin-bottom: 56px;
    margin-right: 10px;
    font-family: Playfair Display,serif!important;
}

h2, p{
    font-family: Roboto,sans-serif;
    font-size: 18px;
}

h2{
    font-weight: 700;
}

p{
    font-weight: 400;
}