<div class="container">
    <h1 fxLayoutAlign="center">
    FAQs
    </h1>
    <div class="row">
      <div class="col-md-6">
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
        <div class="question">
          <h2>Q. Who is a College Ambassador?</h2>
          <p>
              A person who is the link between Techfest and your college. He/She will be the first point of contact for the aforementioned responsibilities.
          </p>
        </div>
      </div>
    </div>
  </div>