.container {
  padding: 6%;
  width: 80% !important;
  height: 100vh;

}

h2, p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.container h1{
  font-family: Yanone_Kaffeesatz;
  font-weight: 500;
}
