._container {
  padding: 6%;
  height: auto;
  min-height: 100%;
  background: url("https://drive.google.com/uc?export=view&id=1pY9otTrIDQGDMXk2lE-hPWN3Ff0plYki");
}

h1 {
  font-family: Playfair Display;
  font-size: 56px;
  font-weight: 500;
}

h2, p {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.questions {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 3em 0;
}

.container h1{
  font-family: Yanone_Kaffeesatz;
  font-weight: 500;
  padding: 1em 0em;
}

@media (max-width: 1023px) {
  .container{
    height: auto;
  }
}
