.navWrap{
  height: 65vh;
  background-repeat: no-repeat;
  width: 100%;
  transition: all 1s ease;
  background-size: cover;
}

.nav div{
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1)
}

.nav div:hover{
  /* background-color: black; */
  color: white;
  animation: blink 3s forwards;
}

@keyframes blink{
  0% {opacity: 1;}
  10% {opacity: 0.6;}
  12% {opacity: 1;}
  17% {opacity: 0;}
  69% {opacity: 1;}
  75% {opacity: 0.8;}
  80% {opacity: 1;}
}

i{
  padding-right: 3px;
}

