<div #contact class="_container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="team_info" fxLayoutGap="20px">
    <h1>Our Team</h1>
    <p>Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu
      Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu Lorem Impsu </p>
  </div>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="start center" *ngFor="let img of [1,2,3]" fxLayoutGap="20px" class="person">
      <div class="profile_pic">
        <div class="overlayed" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
          <span class="phone">+91 00000 00000</span>
          <span><i class="fa fa-envelope"></i>	: mohit<i class="fa fa-at"></i>antaragni<small><i class="fa fa-circle"></i></small>in</span>
          <div class="social-links" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="google-plus" target="_blank"><i class="fab fa-google"></i></a>
            <a href="#" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpiN6J7TTW3M84RMh5ND6FXtrIa5gTfrvlfcFT67rLcaCgpiHB"
          class="pic">
      </div>
      <h3>Sessy Gal</h3>
      <div class="rule"></div>
      <div class="post">Hospitality, Coordinator</div>
    </div>
  </div>
</div>
