<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About</h3>
            <p>Antaragni 2018 is the annual cultfest of IIT Kanpur, and one of Asia's largest college cultfests, inviting participation from hundreds of colleges across India.</p>
            <br>
            <p>With artists like KSHMR, Vishal-Shekhar, and Mike Candys having graced the occasion, we look forward to seeing you this year from 25th - 28th October!</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="https://antaragni.in">Main Site</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Dashboard</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Why CA?</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Sign Up</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Login</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Name <br>
              <strong>Phone:</strong> +91 00000 00000<br>
              <strong>Email:</strong> email@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fab fa-youtube"></i></a>
              <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Antaragni 2018</strong>.
      </div>
    </div>
  </footer><!-- #footer -->
