.header{
  height: 65vh;
  width: 100%;
  background: #e6eaeb;
  padding: 2.5vh 2vw;
  position: relative;
}

.image{
  height: 2.4em;
}

.heading{
  font-family: ethnocentric;
  margin-left: calc(30px + 1vw);
  font-size: 148%;
}

.navigator{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15vh;
  width: fit-content;
}

.text{
  font-family: assassin;
  width: 20vh;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-size: 1.5em;
}

.text1{
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-size: 1.2em;
  padding: 15px;
}

.arrow{
  width: 15vh;
  background-image: linear-gradient(#2edccc, #01757f);
  font-size: 3em;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}

.arrow:hover .right-arrow{
  animation: blink2 1.5s forwards;
}

@keyframes blink2{
  0% {opacity: 1;}
  25% {opacity: 0.4;}
  50% {opacity: 1;}
  75% {opacity: 0.4;}
  100% {opacity: 1;}
}

.right-arrow{
  height: 3.2vh;
}