<div class="header" #top>
  <div class="banner-agileits">
      <div class="banner-top-w3-agile row">
        <ul>
          <li *ngFor="let link of links" (click)="gonow(link.id)"><p>{{link.title}}</p><span>{{link.Desc}}</span></li>
          <li (click)="onhit()"><p>Login</p><span>Now</span></li>
        </ul>
      </div>
    <div class="slider">

      <ul class="rslides">
        <li>
          <div class="layer slide-2"
               style="background-image: url(https://drive.google.com/uc?export=view&id=1GoIcDpGtWkHocriWgnlNmMgU4muY6CXE)">
            <div class="banner-info-w3layouts">
              <div class="group">
                <div class="_group">
                  <h3>Campus Ambassador</h3>
                  <p>Antaragni, 2018</p>
                  <div class="bnr-butn-w3ls">
                    <div class="login" (click)="onhit()">
                      <i class="fab fa-facebook-f"></i>
                      <span> facebook login</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
