.jumbotron {
    background: url("/assets/header-back.jpg");
    height: 650px;
    margin-bottom:0px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
}

.btn {
  color: orangered;
  background-color: black;
}

hr {
  background-color:orangered;
  border-width:1mm
}