<div class="container">
  <h1>Registration Form</h1>  

  <div class="example-form">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email ID">
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="Address"
      matTooltip="Your Address :)" [matTooltipPosition]="'left'"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Pincode"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="College"></textarea>
    </mat-form-field>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>        
        <td>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Sex">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Select Year">
              <mat-option value="1">1st Year</mat-option>
              <mat-option value="2">2nd Year</mat-option>
              <mat-option value="3">3rd Year</mat-option>
              <mat-option value="4">4th Year</mat-option>
              <mat-option value="5">5+ Year</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile Number">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
</div>