<div class="main">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Responsibilities</h3>
                <div class="section-title-divider"></div>
                <p class="section-description"></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="media">
            <div class="media-left">
                <i class="fas fa-bullhorn media-object"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Advertise</h4>
                <p>
                    <i>Publicize Antaragni in your college by sharing posts and promoting content by becoming a focal point
                        for your respective college.</i>
                </p>
            </div>
        </div>

        <div class="media" align="right">
            <div class="media-body">
                <h4 class="media-heading">Organize</h4>
                <p>
                    <i>Organize events, workshops and sessions regarding Antaragni and what it has to offer with assistance
                        from mentors</i>
                </p>
            </div>
            <div class="media-right">
                <i class="fas fa-globe"></i>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <i class="fas fa-user-cog media-object"></i>
            </div>

            <div class="media-body">
                <h4 class="media-heading">Conduct</h4>
                <p>
                    <i>Help in management of elimination rounds in your college and city to select participants for the main
                        event
                    </i>
                </p>
            </div>
        </div>
    </div>
</div>