.fox {
    width: 18.4vw;
}

.cover {
    position: fixed;
    bottom: 10vh;
    width: 75vw;
    left: 25vw;
}

@media (max-width: 768px) {
    .fox {
        width: 80vw;
    }
    .cover {
        width: 100vw;
        left: 0;
    }
}