<div class="responsibilities" [ngClass]="state == 'responsibilities' ? 'active' : 'inactive'">
  <div class="main">
    <div class="container" [style.margin]="state == 'responsibilities' ? '20px 0 40px' : '0'">
      <h2 class="section-title">Responsibilities</h2>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="30px" class="wrapper">
    <div *ngFor="let content of contents | async; let i = index" class="clipper">
      <div [class]="'overlayed '+bcolor[i]" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2vh">
        <h1 [class]="content.icon"></h1>
        <h4 [innerHtml]="content.title"></h4>
      </div>
      <div class="boxes" fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="2vh">
        <h4>{{content.title}}</h4>
        <div [innerHtml]="content.desc.content" class="content"></div>
      </div>

      <!-- <ng-template #mobile>
        <div class="boxes" [ngsReveal]="{delay: 100*(i + 1), scale: 0.5, viewFactor: 0.5}" fxLayout="column"
          fxLayoutAlign="center center" fxLayoutGap="2vh">
          <h4>{{content.title}}</h4>
          <div [innerHtml]="content.desc.content" class="content"></div>
        </div>
      </ng-template> -->
    </div>
  </div>
</div>