.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: orangered;
  margin: 0 auto;
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.boxes {
  width: 20vw;
  height: 40vh;
  padding: 10px 30px;
  margin: 0 10px;
  /* box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12); */
  /*box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);*/
  cursor: pointer;
  /* background-color: red; */
}

.orange {
  background-color:#ff984f !important;
}

.yellow {
  background-color: #ffef71;
}
.pink {
  background-color:#ff7aa7;
}
.blue{
  background-color:#5fcdff
}
h1 {
  color: #666;
  transition: all 0.5s ease-in-out;
}


.boxes div {
  text-align: center;
  
}

h4 {
  font-weight: 100;
  text-transform: uppercase;
}

.wrapper {
  margin-bottom: 10vh;
}

@media (max-width: 1023px) {
  .boxes{
    width: 80vw;
  }
}
