.active{
  height: 100%;
  opacity: 1;
  padding: 2vh 2vw;
}

.inactive{
  height: 0;
  opacity: 0;
  padding: 0;
}

.about{
  width: 100%;
  /* height: 35vh; */
  overflow: hidden;
  transition: all .5s ease-out;
  background: #e6eaeb;
}

.head{
  margin-left: 2vw;
  font-family: Adam-CG-Pro, Verdana, Geneva, sans-serif;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 2px;
}

.content{
  font-family: raleway, 'Open Sans', sans-serif;
  line-height: 1.2em;
  text-align: justify;
  margin-left: 3vw;
  padding-top: 1.5vw;
  width: 50vw;
  font-weight: 300;
  font-size: 1.2em;
}

@media(max-width: 768px) {
  .active{
    height: unset
  }

  .content{
    width: 90vw;
    margin: unset;
  }
}