<div class="body row">
  <div class="col-md-8 about_text ml-auto" fxLayoutAlign="center">
     <tr>
      <h3 class="heading">Some Of Our  
          <span>Happy Clients</span>
      </h3>
    </tr> 
    <tr>
      <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </tr>
    <tr>
      <div class="client">
        <h5>Some Person</h5>
      </div>
    </tr>
  </div>
  <div class="col-md-4 about_img mr-auto" fxLayoutAlign="center" style="background: url(https://styleguide.iu.edu/images/1-1_placeholder_768px-768px.png) no-repeat 0px 0px;">
  </div>
</div>