.body{
	width:100%;
	min-width:100%;
	margin: 0;
	height: 60%;
	min-height: 60%;
	color: #ffffff;
}

.about_img{
	
}

.description{
	margin-top: 2.5em;
	line-height: 2em;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

.about_text{
	width:100%;
	padding: 5em 13em 5em 13em;
	background: #00affe;
}

.client{
	padding: 2em;
}

.heading{
	letter-spacing: 2px;
	word-spacing: 1px;
	font-size: 3.2em;
	font-family: 'Yanone_Kaffeesatz', sans-serif;
	font-weight: 600;
	display: block;

}



.heading span{
	font-weight: 300;
}