<section class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <h2>About</h2> 
              <p><b>Antaragni</b> is the annual cultfest of IIT Kanpur, and one of Asia's largest college festivals, inviting participation from hundreds of colleges across India.</p>
              <p>With artists like KSHMR, Vishal-Shekhar, and Mike Candys having graced the occasion in the past, we look forward to seeing you this year from <b>25th - 28th October!</b></p>
            </div>
        </div>
        <img class="about-img" src="/assets/card-back5.jpg"/>	
    </div>
</section>