<nav class="navbarlinks navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <img src="/assets/logo.png">
    <a class="navbar-brand" href="https://antaragni.in">Antaragni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="shownavmenu = !shownavmenu"></span>
    </button>
    <div class="navbar-collapse" id="navbarResponsive" [class.collapse]="!shownavmenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onhit()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
