.example-sidenav{
  min-width: 300px;
  width: 20vw;
  height: 90vh;
  background-color: #000;
  overflow-x: hidden;
}

.example-container{
  width: 100vw;
  height: 90vh;
}

.navbar{
  height: 10vh;
  background-color: #eee;
  width: 100vw;
  z-index: 999;
}

.Profile_pic img{
  width: 100%;
  padding:20px;
}

.example-sidenav-content {
  z-index: 400;
  display: flex;
  height: 6%;
  top:10vh;
  font-size: 32px;
  text-align: center;
}

.name{
  color: white;
  text-align: center;
  width: 100%;
  padding: 1px;
  font-size: 30px;
  font-family:'Questrial';
  /*margin: 2px;*/
}

.img-circle{
  border-radius: 50%;
  height:25vw;
  width:80%;
}

.point{
  color: red;
  text-align: center;
  width: 100%;
  padding: 3px;
  font-size: 20px;
}

.sub{
  color: orange;
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-family: 'Questrial';
}

.head{
  color: orange;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 2px;
  font-size: 16px;
  background-color: #111;
  font-family: 'Questrial';
}

.sb{
  color: white;
  text-align: center;
  width: 100%;
  padding: 2px;
  font-size: 25px;
  font-family: 'Questrial';
}

.head:hover{
  background-color: orange;
  color:black;
}

button{
  position: fixed;
  padding: 10px;
  top: 0vh;
  left: 0;
  background-color: #222;
  color: white;
  z-index: 999;
}

i{
  color: white !important;
}

@media screen and (max-width: 768px){
  .Profile_pic img{
    width: 100%;
    text-align: center;
    height: 90vw;
    align-content: center;
    align-items: center;
    align-self: center;
    left: 40px;
    padding: 25px;

  }

  .img-circle{
    align-items: center;
    align-content: center;
    align-self: center;
    
  }

}