@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "style_fonts.css";
.mobile {
  display: block;
}

@media (max-width: 768px) {
  .mobile {
    display: none;
  }
}

.head{
  font-family: open-sans-800 sans-serif;
}

.full-width{
  width: 100%;
  overflow-x: hidden;
}
